html {
  height: 100vh;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #e5e5e5;
  color: white;
  font-family: 'Inter', sans-serif;
  text-align: center;
}

h1 {
  color: black;
  font-size: 2.45rem;
  padding-top: 165px;
}

p {
  font-size: 1.25rem;
}

#container {
  align-items: center;
  background-color: rgb(148, 143, 221);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 50%;
  line-height: 35px;
  min-width: 750px;
  padding: 50px 15px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
}

button {
  border: none;
  border-radius: 4rem;
  box-shadow: 0 4px 24px hsla(222, 68%, 12%, 0.1);
  cursor: pointer;
  left: 50%;
  padding: 15px 75px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%) scale(2.3);
}

a {
  color: white;
  text-decoration: none;
}

.title {
  font-weight: 700;
}

.invisible {
  opacity: 0;
}

.visible {
  opacity: 100%;
}

.error {
  color: black;
  text-align: center;
}